/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
*/
#social
{
  position: absolute;
  z-index: 200;
  bottom: 10px;
  right: 10px;
}

#social-left
{
  position: absolute;
  z-index: 200;
  bottom: 10px;
  left: 10px;
}

#start-up
{
  position: fixed;

  z-index: 100;
  opacity: 0;
}
#start-up h1
{
  color: white;
  font-family: futura,helvetica, arial;
}
/*
.st_facebook_custom{
  background: url("http://i.stack.imgur.com/br4Br.png") no-repeat scroll left top transparent;
  padding:86px 236px 36px 36px;
}*/

body {
  background: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  /*font: 400 11px/1.6 "Open Sans", Helvetica, Arial, sans-serif;*/
  color: #333; }


#stage {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  background: #000;
  z-index: 5;
  opacity: 0; 
}

.button
{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


#loadbar {
  position: relative;
  height: 18px;
  width: 0%;
  background: #aaa; }



#credits img
{
  display: none;
}
#credits
{
  overflow-y: scroll;
  overflow-x: none;
  width: 500px;
  height: 100%;
  position: fixed;
  display: none;
  min-height: 600px;
}

#credit-text
{
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: white;
  text-align: center;
  font-family: helvetica, arial, san-serif, sanserif;
  bottom: .3em;
}

#architect
{
  position: relative;
  bottom: .2em;
}

#credit-text a
{
  color: white;
  font-family: helvetica, arial, san-serif, sanserif;
}

.footer
{
  font-size: 25px;
}

#credit-button
{
  z-index: 9999;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

#credit-button img
{
    cursor: pointer;
    width: 30px !important;
}

#shares
{
  width: 75px;
  height: 500px;
  z-index: 1;
  position:absolute;
  top: 0px;
  right: 0px;
}
.shareable
{
  opacity: 0;
  display: inline-block;
  width: 75px;
  margin-left: 19px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.shareable:first-child
{
  margin-top: 20px;
  /**/
}


img.shareable 
{
  cursor: pointer;
  width: 32px !important;
}